#page-container {
    position: relative;
    min-height: 100vh;
  }

#content-wrap {
    padding-bottom: 2.5rem;
}

.site-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    font-size: 0.8em;

    p {
        font-style: italic;
        opacity: 0.8;
        text-align: center;
    }
}