@mixin line {
    content: '';
    width: 90%;
    height: 4px;
    position: absolute;
    bottom: -8px;
    left: 5%;
    background: $primary-items-color;
}

$breakpoints: (
  'phone':  ( max-width:  700px ),
  'tablet': ( max-width:  990px ),
  'laptop': ( min-width: 991px ),
  'desktop': ( min-width: 1200px )
) !default;

@mixin bp($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
      }
    }
   
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}