html {
    font-family: var(--primary-ff-content);
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-ff-heading);
}

article {
    width: 54%;
    margin: 3rem auto;
}

article h1 {
    text-align: center;
}

article p:nth-child(2) {
    text-align: center;
}

article p {
    padding: 1rem 0 1.3rem 0;
}
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}